body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  height: 100vh;
  display: grid;
  font-size: 18px;
}

#app {

  justify-self: center;
  text-align: center;
  width: 500px;
  padding: 27px 18px;
}

h1 {
  margin: 0;
  padding-bottom: 1.5rem;
  font-size: 36px;
}

h2 {
  margin: 0;
  padding-bottom: 18px;
  font-size: 18px;
}

input,
button:not(.google) {
  padding: 9px;
  font-size: 18px;
  margin-bottom: 9px;
}

button.google {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
}

pre {
  text-align: left;
  background: #f0f0f0;
  padding: 25px;
  border-radius: 10px;
  overflow-x: scroll;
}
