html, body {
	padding: 0;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #F8F8F8;
}

h1,h2,h3,h4,h5{
	font-family: proxima-nova, sans-serif;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

html, body, .page{
	height: 100%;
}

.form-control{
	margin-bottom: 15px;
}

h4{
font-size: 22px;
margin-top: 6px;
}

.btn-add{
		margin-bottom: 10px;
}

b{
	display: block;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.side{
	background-color: #333;
	min-height: 100%;
	text-transform: capitalize;
}

.side-nav a{
	display: block !important;
	padding: 10px;
	color: white;
	padding-left: 25px;
}

.side-nav a:hover{
	color: white;
	background-color: #5679FE;
	text-decoration: none;
}

.side-nav a.selected{
	background-color: #5679FE;
}

#logo{
	width: 60px;
	margin: 20px;
	margin-top: 21px;
	margin-left: 25px;
}

.main{
	padding: 15px;
	padding-top: 0;
}

.topnav{
	height: 70px;
	padding: 25px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: white;
	border-bottom: 1px solid #DDD;
}

.content{
	padding: 25px;
}

.entries-list a{
	color: black;
}

.btn-dark{
	min-width: 100px;
}

.cm-formatting{
	color: #BBB !important;
}

select.form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    -moz-appearance: none;
    appearance: none;
}

.description{
	color: #999;
	margin-bottom: 7px;
	margin-top: -2px;
}

i.bi{
	width: 1em;
height: 1em;
vertical-align: .2em;
margin-right: 3px;
}
