html, body {
	padding: 0;
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #F8F8F8;
}

h1,h2,h3,h4,h5{
	font-family: proxima-nova, sans-serif;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

h5{
	color: white;
	margin-left: 23px;
	font-size: 16px;
	font-weight: 400;
	margin-top: 35px;
}

html, body, .page{
	height: 100%;
}

.form-control{
	margin-bottom: 25px;
}

h4{
font-size: 22px;
margin-top: 6px;
}

.btn-add{
		margin-bottom: 10px;
}

b{
	display: block;
	padding-bottom: 5px;
	text-transform: capitalize;
}

.side{
	background-color: #333;
	min-height: 100%;
	height: 100%;
	text-transform: capitalize;
	position: fixed;
	width: 16.6%;
	overflow: hidden;
	overflow-y: auto;
}

.side-nav a{
	display: block !important;
	padding: 10px;
	color: white;
	padding-left: 25px;
}

.side-nav a:hover{
	color: white;
	background-color: #5679FE;
	text-decoration: none;
}

.side-nav a.selected{
	background-color: #5679FE;
}

#logo{
	width: 60px;
	margin: 20px;
	margin-top: 21px;
	margin-left: 25px;
	margin-bottom: 0;
}

#loading, #log-in-screen{
	width: 250px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
}

#loading img, #log-in-screen img{
	max-width: 60%;
	margin-bottom: 10px;
}

#loading .spinner-border{
	color: #5679FE;
}

.btn-signin{
	border: 2px solid #5679FE;
	color: #5679FE;
}

.btn-signin:hover{
	border: 2px solid #5679FE;
	color: #5679FE;
	background-color: white;
}

.clear{
	clear: both;
}

.main{
	padding: 15px;
	padding-top: 0;
}

.topnav{
	height: 70px;
	padding: 25px;
	padding-top: 15px;
	padding-bottom: 5px;
	background-color: white;
	border-bottom: 1px solid #DDD;
}

.content{
	padding: 25px;
}

.entries-list a{
	color: black;
}

.btn-dark{
	min-width: 100px;
}

.cm-formatting{
	color: #BBB !important;
}

select.form-control {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) 50%;
    -moz-appearance: none;
    appearance: none;
}

.description{
	color: #999;
	margin-bottom: 7px;
	margin-top: -5px;
}

.description-sub{
	color: #999;
	margin-bottom: 5px;
	margin-top: -18px;
}

i.bi{
	width: 1em;
	height: 1em;
	vertical-align: .2em;
	margin-right: 3px;
}

 i.bi-trash{
	 display: block;
	 width: 1em;
 	 height: 1.6em;
	 margin-right: 0px;
	 margin-top: -2px;
 }

.modal{
	display: block;
}

.backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.small-hide, .medium-hide{
	display: inline-block;
}

#logout{
	position: absolute;
	bottom: 10px;
	width: 110px;
	background-color: #333;
}

@media only screen and (max-width: 767px) {
	.content{
		padding: 0;
		padding-top: 15px;
	}
	.page{
		height: auto;
	}
	.topnav{
		padding-left: 0;
		padding-right: 0;
	}
	.side{
		padding-bottom: 20px;
		position: relative;
		width: 100%;
		padding-bottom: 50px;
	}
	.medium-hide{
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.small-hide{
		display: none;
	}
}

/* --- Rich Text Editor --- */

.rich-text-editor,
.rich-text-editor-tools,
.rich-text-editor-view,
.rich-text-editor-source {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
    font: inherit;
    color: inherit;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.rich-text-editor ::-webkit-input-placeholder {
    opacity: 0.5;
    color: inherit;
}

.rich-text-editor ::-moz-placeholder {
    opacity: 0.5;
    color: inherit;
}

.rich-text-editor ::placeholder {
    opacity: 0.5;
    color: inherit;
}

.rich-text-editor {
    border: 1px solid #ced4da;
    background: #fff;
    color: #000;
    line-height: 1.5em;
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;
}

.rich-text-editor-tools {
    font: normal normal 100%/2em "Times New Roman", Times, serif;
    text-align: center;
    -webkit-transition: all 0.25s ease-out 0.25s;
    -moz-transition: all 0.25s ease-out 0.25s;
    transition: all 0.25s ease-out 0.25s;
    opacity: 0;
    visibility: hidden;
}

.rich-text-editor-tools::after {
    content: "";
    display: table;
    clear: both;
}

.rich-text-editor-tools a {
    display: block;
    float: left;
    width: 2em;
    height: 2em;
    color: black !important;
    text-decoration: none;
}

.rich-text-editor-tools svg {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    line-height: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    fill: currentColor;
}

.rich-text-editor-tools a:focus,
.rich-text-editor-tools a:hover {
    background: #eff;
}

.rich-text-editor-view {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 1em;
    min-height: 1.5em;
    overflow: auto;
    cursor: text;
}

.rich-text-editor.expand .rich-text-editor-view {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

.rich-text-editor:hover .rich-text-editor-tools,
.rich-text-editor-view:focus+.rich-text-editor-source+.rich-text-editor-tools,
.rich-text-editor-source:focus+.rich-text-editor-tools {
    -webkit-transition-delay: 0.125s;
    -moz-transition-delay: 0.125s;
    transition-delay: 0.125s;
    opacity: 1;
    visibility: visible;
}

.rich-text-editor.source .rich-text-editor-tools a {
    display: none;
}

.rich-text-editor.source .rich-text-editor-tools .rich-text-editor-t\:x {
    display: block;
}

.rich-text-editor-source {
    width: 100%;
    min-height: 8em;
    background: #def;
    font: inherit;
    font-family: "Courier New", Courier, "Nimbus Mono L", Monospace;
    padding: 0.25em 0.5em;
    overflow: auto;
    resize: none;
    display: block;
}


/* hide object but maintain focus state */

.rich-text-editor.view .rich-text-editor-source {
    width: 0 !important;
    height: 0 !important;
    min-width: 0 !important;
    min-height: 0 !important;
    border: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 1em;
    /* same with `padding-top` of `.rich-text-editor-view` */
    left: 1em;
    /* same with `padding-left` of `.rich-text-editor-view` */
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    color: transparent !important;
    box-shadow: none !important;
    opacity: 0 !important;
}

.rich-text-editor.source .rich-text-editor-view {
    display: none;
}


/* dialog */

.rich-text-editor-dialog {
    background: inherit;
    border: inherit;
    border-width: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2em;
    left: 0;
    padding: 1em;
    display: none;
}

.rich-text-editor-dialog input {
    display: inline-block;
    vertical-align: middle;
    width: 12em;
    background: none;
    border: 0;
    outline: 0;
    border-bottom: 2px solid;
    border-color: inherit;
    font: inherit;
    color: #00f;
    margin: 0;
    padding: 0 0 0.25em;
}

.rich-text-editor.dialog .rich-text-editor-dialog {
    display: block;
}


/* error state */

.rich-text-editor.error {
    border-color: #f00;
}


/* editor placeholder */

.rich-text-editor-view:empty::before {
    content: attr(placeholder);
    opacity: 0.4;
}

.rich-text-editor-view:focus::before {
    display: none;
}


/* editor content */

.rich-text-editor-view a {
    color: #00f;
    text-decoration: underline;
}

.rich-text-editor-view mark {
    background: #ff0;
    color: inherit;
}

.rich-text-editor-view abbr {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.rich-text-editor-view b,
.rich-text-editor-view strong {
    font-weight: bold;
}

.rich-text-editor-view i,
.rich-text-editor-view em,
.rich-text-editor-view dfn,
.rich-text-editor-view var {
    font-style: italic;
}

.rich-text-editor-view u,
.rich-text-editor-view ins {
    text-decoration: underline;
}
