html,
body {
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f8f8f8;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

h5 {
  color: white;
  margin-left: 23px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 43px;
}

html,
body,
.page {
  height: 100%;
}

.form-control {
  margin-bottom: 25px;
}

h4 {
  font-size: 22px;
  margin-top: 6px;
}

.btn-add {
  margin-bottom: 10px;
}

b {
  display: block;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.side {
  background-color: #333;
  min-height: 100%;
  height: 100%;
  text-transform: capitalize;
  position: fixed;
  width: 230px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 9999999;
}

.side-nav {
  margin-top: 6px;
}

.side-nav a {
  display: block !important;
  padding: 10px;

  color: white;
  padding-left: 25px;
}

.side-nav a:hover {
  color: white;
  background-color: #5679fe;
  text-decoration: none;
}

.side-nav a.selected {
  background-color: #5679fe;
}

#logo {
  width: 60px;
  margin: 20px;
  margin-top: 21px;
  margin-left: 25px;
  margin-bottom: 0;
}

#loading,
#log-in-screen {
  width: 250px;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

#loading img,
#log-in-screen img {
  max-width: 60%;
  margin-bottom: 10px;
}

#loading .spinner-border {
  color: #5679fe;
}

.btn-signin {
  border: 2px solid #5679fe;
  color: #5679fe;
}

.btn-signin:hover {
  border: 2px solid #5679fe;
  color: #5679fe;
  background-color: white;
}

.clear {
  clear: both;
}

.main {
  padding: 15px;
  padding-top: 0;
  transition: 0.4s all ease-out;
}

.topnav {
  height: 70px;
  padding: 25px 15px 25px 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.topnav h4 {
  margin-left: 35px;
}

.content {
  padding: 25px 15px 25px 20px;
}

.entries-list a {
  color: black;
}

.categories-list {
  border: 1px solid #ddd;
}

.categories-list a {
  cursor: pointer;
}

.categories-list a.selected {
  background-color: #5679fe;
  color: white;
}

.btn-dark {
  min-width: 100px;
}

.cm-formatting {
  color: #bbb !important;
}

select.form-control {
  padding-right: 25px;
  background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  -moz-appearance: none;
  appearance: none;
}

.description {
  color: #999;
  margin-bottom: 7px;
  margin-top: -5px;
}

.description-sub {
  color: #999;
  margin-bottom: 5px;
  margin-top: -18px;
}

i.bi {
  width: 1em;
  height: 1em;
  vertical-align: 0.2em;
  margin-right: 3px;
}

i.bi-trash {
  display: block;
  width: 1em;
  height: 1.6em;
  margin-right: 0px;
  margin-top: -2px;
}

.modal {
  display: block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.small-hide,
.medium-hide {
  display: inline-block;
}

#logout {
  position: absolute;
  bottom: 0px;
  padding-bottom: 20px;
  width: 110px;
  background-color: #333;
}

.list-group-flush {
  border: 1px solid #ddd;
  cursor: pointer;
}

.list-group {
  min-height: 400px;
}

.list-group-flush {
  min-height: 50px;
}

.ProseMirror {
  display: block;
  min-height: 250px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  border-top: 0;
  background-color: #ffffff;
}

iframe {
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

.open-nav {
  position: absolute;
  font-size: 19px;
  top: 20px;
  left: 33px;
  z-index: 999999;
  cursor: pointer;
}

.close-large {
  font-size: 40px;
  margin-left: 24px;
  margin-top: 4px;
  cursor: pointer;
}

.shownav {
  padding-left: 245px;
}

.shownav h4 {
  margin-left: 0;
}

@media only screen and (max-width: 767px) {
  .open-nav {
    left: 19px;
  }

  .shownav {
    padding-left: 15px;
  }

  .shownav h4 {
    margin-left: 35px;
  }

  .content {
    padding: 0;
    padding-top: 15px;
  }
  .page {
    height: auto;
  }
  .topnav {
    padding-left: 0;
    padding-right: 0;
  }
  .side {
    padding-bottom: 20px;
    position: fixed;
    padding-bottom: 50px;
  }
  .medium-hide {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .small-hide {
    display: none;
  }
}
